
body {

    background-image: url("imgs/presence1.jpg");
    background-repeat: repeat;
    background-color: #101010;

}

.pad{
    height: 100%;
    position: absolute;
    align-items: center;

}

.form-group{


}


.btn{
    width: 100%;
    margin-top: 25px;
    border-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
}


.btn-default{
    background: dimgrey;
    color: white;
    transition-property: box-shadow;
    transition-duration: 5s;
    transition-timing-function: linear;
    border-color: transparent;

}

.btn-default:hover{
    -webkit-box-shadow: 0px 0px 24px 0px rgba(218,165,32, 0.75);
    -moz-box-shadow:    0px 0px 24px 0px rgba(218,165,32, 0.75);
    box-shadow:         0px 0px 24px 0px rgba(218,165,32, 0.75);
    background: dimgrey;
    background-color: white;
    border-color: transparent;
}

.fonts{
    color: white;

}

.details{
    margin-top: 2%;
    margin-left: 5%;
}

.titleS{
    color: gold;

}

.link{
    pointer-events: none;
    cursor: default;
    visibility: hidden;
}

hr.style-two {
    border: 0;
    height: 8px;
    background-image: linear-gradient(to right, rgba(255, 215, 0, 1.0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border-radius: 25%;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: gold;
}
h3{
    font-family: 'Open Sans', sans-serif;
    color: gold;

}




a:hover{
    color: white;
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}

a:link{
    color:white;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.pointer{
    cursor: pointer;
}

.map_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

}

.map_containerDes{
    position: relative;
    padding-bottom: 30%;
    width: 100%;
    height: 600px;
    margin-left: 1.5%;
}
#map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;

}

.hidden{
    visibility: hidden;
}

.login{
    margin-left: 5%;
}

.firstDes{
    color:white;
}

#HomeLink{
    height: 27.5px;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.form-control{
    margin-left: 20px;
    margin-right: 20px;
}
.row {
    width: 100%;
}

