
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><img src="pages/views/css/imgs/JESSE.png" alt="Logo-Jesse" id="HomeLink"/></a>
        </div>
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="map">World Map</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()" >LogOut</a></li>
            </ul>
        </div>

    </div>
</nav>


<div class="dettagli">
<div class="col-md-6" ng-show="showForm2">
    <div class="row">
        <div class="col-md-offset-3">
            <h1 class="fonts details titleS">{{negozio.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <h4 class="fonts details" style="line-height: 150%;">{{negozio.description}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="c">
            <div class="fonts details">
                <div class="col-md-5">
                    <h5 class="glyphicon glyphicon-envelope"></h5>
                    &nbsp
                    <a href="mailto: {{negozio.sales_person.email}}"> {{negozio.sales_person.email}} </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="c">
            <div class="fonts details">
                <div class="col-md-4">
                    <h5 class="glyphicon glyphicon-earphone"></h5>
                    &nbsp
                    <a href="tel:{{negozio.phone}}">{{negozio.phone}}</a>
                </div>
                <div class="col-md-7">
                    <p class="fonts details">{{negozio.address}}</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        <!--<img src="{{negozio.featured_image}}">-->
        <div class="col-md-6 map_containerDes">
            <div id="map"></div>
        </div>
    </div>
</div>
</div>


<div class="row">
    <div class="col-md-offset-4" ng-show="showSpinner">
        <img src="gears%20(1).gif"  style="height: 100px; width: 100px; margin-top: 10%; ">
        <h3>{{message2}}</h3>
        <br/>
    </div>
</div>


<!--
<div class="col-md-2 fonts">
    <button ng-click="initialize()" class="col-md-2 btn btn-default">Let's Go!</button>
</div>
-->



<!--
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

body {background: #222;}

h1 {
	margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.4;
	font: 700 80px 'Bitter';
}
-->