

<nav class="navbar-fixed-top navbar-inverse">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><img src="pages/views/css/imgs/JESSE.png" alt="Logo-Jesse" id="HomeLink"/></a>
        </div>
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="map">World Map</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()" >LogOut</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="map_container">
    <div id="map"></div>
</div>
